@import "../../assets/sass/utils/variables.scss";

.headerMenu {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  top: 100%;
  width: 200px;
  height: max-content;
  right: 0;
  background-color: var(--secondary-bg);

  .menuItem {
    margin: 3px;
    cursor: pointer;
    background-color: var(--secondary-bg);
    padding: 10px 15px;
    color: var(--primary-text);
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
    &:last-child {
      border-top: 1px solid var(--border-color);
    }
    &:hover {
      background-color: var(--hover-bg);
    }
  }
}
