@import "@/assets/sass/utils/variables.scss";

.monitorActionsMenu {
  border: 1px solid #3b4254;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  width: 200px;
  height: max-content;
  right: 0;
  background-color: $secondary-blue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: visible;
  
  .menuItem {
    margin: 3px;
    cursor: pointer;
    background-color: $secondary-blue;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
    &:last-child {
      color: #ff674f;
      border-top: 1px solid #3b4254;
    }
    &:hover {
      background-color: #3b4254;
    }
  }
}
